//
//  Config.xcconfig
//  GameNet
//
//  Created by Alliston Aleixo on 31/07/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
API_PATH=http:/$()/mac-mini-de-alliston.tail56b10b.ts.net:3011/api
//API_PATH=http:/$()/localhost:3000/api
BEARER=2ru5NUHsDoF9tceIUVWX1XwEekD_4EmXJuRcSYbsa7BnrXZ5u
THEGAMESDB_API_KEY=87e3fa3cbedc8cd78667b4fe99cdb54dc44c74ae11ecb5e46bbae1d9635a4e57
