<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_PATH</key>
	<string>$(API_PATH)</string>
	<key>BEARER</key>
	<string>$(BEARER)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>THEGAMESDB_API_KEY</key>
	<string>$(THEGAMESDB_API_KEY)</string>
	<key>NSSiriUsageDescription</key>
	<string>GameNet uses Siri and Shortcuts to create games and add them to your lists.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
